/*
!/ColdEyes/Com
!/ColdEyes/Device
!/ColdEyes/Pattern
!/ColdEyes/UI
!/ColdEyes/*.cpp
!/ColdEyes/*.h
/Bin/*
/Debug/*
/ipch/*
/Release/*
/ColdEyes.sdf
/ColdEyes/Debug/*
/ColdEyes/Release/*
/ColdEyes/res/*
/ColdEyes/ReadMe.txt

/Libs/DuiLib/*
!/Libs/DuiLib/lib
!/Libs/DuiLib/UIlib.h
/ColdEyes/ColdEyes.vcxproj
/ColdEyes/ColdEyes.vcxproj.filters
/ColdEyes/ColdEyes.vcxproj.user
